<div id="Signin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <div class="website-title">
        <i>
          <i class="material-icons" style="font-size:40px;"> alternate_email </i> Email.com
        <p class="website-subtitle">
            A simple website for sending and recieving mails
        </p>
        </i>
    </div>

    <form class="input-box">
        <div class="sign-in-title"> Enter your Account </div>

        <div class="input-section">
            <div>
                <i class="material-icons" style="background-color:white; color:black">
                    email
                </i>
                <input type="email" class="input-field" placeholder="Email" id="emailst" required />
            </div>

            <div>
                <i class="material-icons" style="background-color:white; color:black">
                    lock
                </i>
                <input type="password" class="input-field" placeholder="Password" id="passwordst" required />
            </div>
        </div>

        <div class="sign-in">
            <input type="button" class="block-button-dark" value="SIGN IN" (click)="signIn()" />
        </div>
    </form>

    <div class="sign-up">
        <div style="margin-right: 10px;"> Don't have an account? </div>
        <button class="block-button-light" (click)="signUp()">
        SIGN UP
      </button>
    </div>
</div>