.user-folder {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 50px;
    height: 40px;
}

.user-folder:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.user-folder:active {
    transform: translateY(1px);
    outline: none;
}

ng-sidebar-container {
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: #f4f4f4;
    width: 250px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}