<div id="sign-up">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <div class="websiteTitle">
      <i>
        <i class="material-icons" style="font-size:40px;"> alternate_email </i>
        Email.com
        <p class="websiteSubtitle">
          A simple website for sending and recieving mails
        </p>
      </i>
    </div>

    <form class="inputBox">
      <div class="title"> Create an Account </div>

      <div class="input">
        <div>
          <i class="material-icons" style="background-color:white; color:black">
            person
          </i>
          <input type="text" placeholder="Name" id="namest" required />
        </div>

        <div>
          <i class="material-icons" style="background-color:white; color:black">
            email
          </i>
          <input type="email" placeholder="Email" id="usernamest" required />
        </div>

        <div>
          <i class="material-icons" style="background-color:white; color:black">
            lock
          </i>
          <input
            type="password"
            placeholder="Password"
            id="passwordst"
            minlength="8"
            required
          />
        </div>
      </div>

      <div class="button">
        <input type="button" value="SIGN UP"  />
      </div>
    </form>
</div>