<div id="folder">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <app-folder-tool-bar></app-folder-tool-bar>

    <div class="btn-group" role="group">
        <button class="btn-light">Delete</button>
        <button class="btn-light">Cancel</button>
    </div>

    <div class="btn-group" role="group">
        <button class="block-button-dark" style="width: 150px; height: 30px;">
          move to folder:
        </button>
        <input type="search" class="input-field" id="folder-name" placeholder="folder name..." />
    </div>

    <div>
        <table class="mail-table">
            <thead>
                <tr>
                    <th>
                        <label class="table-entry">
                          <input type="checkbox"/>
                        </label>
                    </th>
                    <th scope="col">Subject</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mail of mails | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength }">
                    <td>
                        <label class="table-entry">
                          <input type="checkbox" (change)="checkMail($event, mail)"/>
                        </label>
                    </td>
                    <td>
                        <label class="table-entry">
                          {{mail.subject}}
                        </label>
                    </td>
                    <td>
                        <label class="table-entry">
                          {{mail.sender}}
                        </label>
                    </td>
                    <td>
                        <label class="table-entry">
                          {{mail.time}}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-entry">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>

</div>