<div id="compose">
    <form>
      <div class="input-item">
        <label> Subject: </label>
        <input type="text" name="subject" class="input" id="subject" />
      </div>
      <div class="input-item">
        <label> Recievers: </label>
        <input type="text" name="reciever" class="input" id="reciever" />
        <input
          type="button"
          id="add-reciever"
          class="btn"
          value="Add Recievers"
        />
        <input
          type="button"
          id="delete-reciever"
          class="btn"
          value="Delete Recievers"
        />
      </div>
      
      <div class="input-item">
        <table id="tab">
          <thead>
            <tr>
              <th scope="col">Recievers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="input-item">
        <label> Priority: </label>
        <div class="radiobtn">
          <input
            type="radio"
            id="vehicle1"
            class="check"
            name="priority"
            value="1"
          />
          <label for="vehicle1"> 1</label>
          <input
            type="radio"
            id="vehicle2"
            class="check"
            name="priority"
            value="2"
          />
          <label for="vehicle2"> 2</label>
          <input
            type="radio"
            id="vehicle3"
            class="check"
            name="priority"
            value="3"
          />
          <label for="vehicle3"> 3</label>
          <input
            type="radio"
            id="vehicle4"
            class="check"
            name="priority"
            value="4"
          />
          <label for="vehicle4"> 4</label>
          <input
            type="radio"
            id="vehicle5"
            class="check"
            name="priority"
            value="5"
          />
          <label for="vehicle5"> 5</label>
          <input
            type="radio"
            id="vehicle6"
            class="check"
            name="priority"
            value="6"
          />
          <label for="vehicle6"> 6</label>
          <input
            type="radio"
            id="vehicle7"
            class="check"
            name="priority"
            value="7"
          />
          <label for="vehicle7"> 7</label>
          <input
            type="radio"
            id="vehicle8"
            class="check"
            name="priority"
            value="8"
          />
          <label for="vehicle8"> 8</label>
          <input
            type="radio"
            id="vehicle9"
            class="check"
            name="priority"
            value="9"
          />
          <label for="vehicle9"> 9</label>
          <input
            type="radio"
            id="vehicle10"
            class="check"
            name="priority"
            value="10"
          />
          <label for="vehicle10"> 10</label>
        </div>
      </div>

      <div class="input-body">
        <label> Body: </label>
        <textarea id="body"></textarea>
      </div>
      <div class="input-item">
        <label class="btn file">
          Add Attachments
          <input type="file" id="file" />
        </label>
        <table>
          <thead>
            <tr>
              <th scope="col">Attachments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <input type="button" value="send" id="send"  />
    <input type="button" value="draft" id="draft" />
</div>
