#compose {
  background-color: white;
}
.input-item {
  display: flex;
  align-items: center;
}
label {
  color: black;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px 10px;
}
.input {
  background-color: white;
  width: 400px;
  height: 28px;
  margin: 10px;
  padding-left: 8px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;  
}
.input:focus {
  background-color: #d3d3d3;
  outline: none;
}
.btn {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  height: 35px;
  font-size: 18px;
}
.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:active {
  transform: translateY(1px);
  outline: none;
}
.input-body {
  display: flex;
}
textarea {
  background-color: white;
  overflow: auto;
  width: 1200px;
  height: 300px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 6px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
textarea:focus {
  background-color: #d3d3d3;
  outline: none;
}
input[type="file"] {
  display: none;
}

/*#add-reciever, #delete-reciever {
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  height: 40px;
  font-size: 18px;
}*/
  .check {
    height: 15px;
    width: 15px;
    border-radius: 20px;
  }
  .box {
    width: 10px;
    height: 10px;
    padding-right: 10px;
  }
  .radiobtn {
    margin-left: 5px;
  }
  
  
  
  .file {
    height: 25px;
  }
  
  
  #send {
    margin-left: 120px;
  }
  #draft {
    margin-left: 50px;
  }
  table {
    border: 3px solid grey;
    margin: 10px;
    width: 500px;
    height: 50px;
  }
  th {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Georgia;
  }
  tr {
    border: none;
    border-bottom: 1px solid black;
    height: 15px;
  }
  td {
    background-color: white;
    color: black;
    font-size: large;
    font-weight: bold;
  }
  #attachment {
    width: auto;
  }